@import "~/assets/styles/vars.scss";

.backupContainer {
    text-align: center;

    .backupPage {
        img {
            width: 90px;
            opacity: 0.3;
            margin-bottom: 30px;
        }

        p {
            width: 255px;
            font-size: 20px;
            margin: 0 auto;
        }

        button {
            cursor: pointer;
            width: 200px;
            height: 40px;
            background-color: $RECEIVE_COIN_BUTTON_COLOR;
            border: none;
            border-radius: 3px;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.8);
            margin-top: 80px;
        }
    }
}