@import "../vars.scss";

$toastr-width: 200px !default;
$successBgColor: $TOASTR_SUCCESS !default;
$infoBgColor: $TOASTR_INFO !default;
$warningBgColor: $TOASTR_WARNING !default;
$errorBgColor: $TOASTR_ERROR !default;
$defaultSpace: 6px;
