@import "~/assets/styles/vars.scss";
@import "~/assets/styles/section.scss";

.transactionsList {
  width: 100%;
  margin-top: 20px;

  .txItem {
    display: flex;
    margin-bottom: 5px;

    .green {
      color: $BALANCE_VALUE_TEXT_COLOR;
    }

    .red {
      color: $BASE_COLOR_PERSIMMON_COLOR;
    }

    .grey {
      opacity: 0.5;
    }

    .txInfo {
      display: flex;

      div {
        flex: 0;
      }

      img {
        width: 35px;
        margin-right: 15px;
      }

      p {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      p:nth-child(1) {
        font-size: 28px;
      }

      p:nth-child(2) {
        font-size: 12px;
        opacity: 0.5;
      }
    }

    div {
      flex: 1;
    }

    .txValue {
      text-align: right;
      font-size: 24px;
    }
  }
}