@import "~/assets/styles/vars.scss";
@import "~/assets/styles/section.scss";

.transactionHistory {
  width: 100%;
  margin-top: 20px;
  padding-right: 10px;
  overflow: auto;
  max-height: calc(100% - 45px);

  .txItem {
    display: flex;
    margin-bottom: 5px;

    .green {
      color: $BALANCE_VALUE_TEXT_COLOR;
    }

    .red {
      color: $BASE_COLOR_PERSIMMON_COLOR;
    }

    .grey {
      opacity: 0.5;
    }

    .txInfo {
      width: 60%;
      display: flex;

      .dateField {
        width: 100%;
        position: relative;
        height: 55px;
        
        .addressField {
          width: 100%;
          margin-top: 0px;
          margin-bottom: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          position: absolute;
        }
      }

      img {
        width: 35px;
        margin-right: 15px;
        margin-top: 3px;
      }

      .redBage {
          position: relative;
      }

      .redBage::before {
          content: ' ';
          position: absolute;
          width: 12px;
          height: 12px;
          background-color: red;
          border-radius: 50%;
          right: 13px;
          top: 24px;
          border: 2px solid $TRANSACTION_LIST_BACKGROUND_COLOR;
      }

      p {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      p:nth-child(1) {
        font-size: 1.8rem;
      }

      p:nth-child(2) {
        font-size: 1rem;
        opacity: 0.5;
      }
    }

    .txValue {
      width: 40%;
      text-align: right;
      font-size: 1.8rem;
    }
  }
}