.container {
    padding-top: 90px;

    .label {
        line-height: 2;
    }

    .disabled {
        opacity: 0.4;
    }

    .option {
        display: flex;
        justify-content: flex-end;

        div {
            background: transparent;
            border: none;
        }

        > div {
            display: flex;
            justify-content: flex-end;
        }

        .languageFr,
        .languageRu,
        .cloakM,
        .cloakU {
            width: 100px;
        }
    }
    
    .languageOption,
    .amountUnitOption {
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
    }
}