.container {
    padding-top: 30px;

    .label {
        line-height: 2;
    }

    .disabled {
        opacity: 0.4;
    }

    .option {
        display: flex;
        justify-content: flex-end;

        div {
            background: transparent;
            border: none;
        }

        > div {
            width: 90px;
            display: flex;
            justify-content: flex-end;
        }
    }
    
    .enigmaReserveBalanceOption,
    .cloakShieldRoutesOption,
    .cloakShieldNodesOption,
    .cloakShieldHopsOption {
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
    }

    .checkboxGroup {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 10px;
        margin-bottom: 30px;
        background: #222935;
        border-radius: 5px;
        padding: 10px 30px;

        > div {
            > div > div {
                &:first-child {
                    border-bottom: 1px solid #657f43;
                }
                &:last-child {
                    display: none;
                }
            }
    
            &:last-child {
                > div > div:first-child {
                    border-bottom: 0;
                }
            }
        }
    }
}