.container {
    padding-top: 90px;

    .checkboxGroup {
        margin-left: 100px;
        margin-right: 100px;
        background: #222935;
        border-radius: 5px;
        padding: 10px 30px;
    
        > div {
            > div > div {
                &:first-child {
                    border-bottom: 1px solid #657f43;
                }
                &:last-child {
                    display: none;
                }
            }
    
            &:last-child {
                > div > div:first-child {
                    border-bottom: 0;
                }
            }
        }
    }

    .socksProxy {
        display: flex;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 25px;

        div {
            background: transparent;
            border: none;
        }

        .proxyIp {
            width: 180px;
        }

        .proxyPort {
            width: 180px;
        }

        .socksVersionLabel {
            line-height: 2;
            margin-left: 15px;
        }

        .disabled {
            opacity: 0.4;
        }
    }
}