@import "~/assets/styles/vars.scss";

.enigmaContainer {
    text-align: center;

    .enigmaPage {
        img {
            width: 90px;
            opacity: 0.3;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 30px;
            font-size: 20px;
        }

        .disabledTitle {
            color: $SEND_COIN_TEXT_COLOR;
        }

        .enableTitle {
            color: $BASE_COLOR_LIGHT_GREEN;
        }

        .enigmaDisabledBtn {
            background-color: $SEND_COIN_TEXT_COLOR;
            color: white;
        }

        .enigmaEnableBtn {
            background-color: $BASE_COLOR_LIGHT_GREEN;
            color: rgba(0, 0, 0, 0.8);
        }

        button {
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 3px;
            font-size: 18px;
            margin-top: 60px;
        }
    }
}