@import "~/assets/styles/vars.scss";

@mixin titleBarButton {
  -webkit-app-region: no-drag;
  display: inline-block;

  width: 0.8rem;
  height: 0.8rem;

  margin-right: 1rem;
  border-radius: 20rem;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.titleBarButtonsContainer {
  width: 100%;
  height: 35px;
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  z-index: 10;
  padding-top: 0.8rem;
  padding-left: 1.2rem;
  background-color: $BASE_COLOR_TOOLBAR_COLOR;

  .closeButton {
    @include titleBarButton();
    background-color: $TITLE_BAR_BUTTONS_CLOSE_COLOR;
  }

  .minimizeButton {
    @include titleBarButton();
    background-color: $TITLE_BAR_BUTTONS_MINIMIZE_COLOR;
  }

  .maximizeButton {
    @include titleBarButton();
    background-color: $TITLE_BAR_BUTTONS_MAXIMIZE_COLOR;
  }
}

.dragBar {
  -webkit-app-region: drag;
  height: 3.5rem;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 90px);
  z-index: 1;
  pointer-events: none;
}
