@import "~/assets/styles/vars.scss";

.container {
    padding: 0 60px 0 60px;

    .responseList {
        margin-top: 22px;
        border-radius: 5px;
        background: #222935;
        height: 365px;
        width: 100%;
        overflow: auto;
        padding: 5px 0px 5px 0px;

        .command {
            padding: 5px;
            display: flex;

            .time {
                min-width: 90px;
                text-align: center;
            }

            .icon {
                padding: 5px 10px 5px 5px;
                width: 22px;
                height: 22px;
            }
        
            .response {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .actions {
        margin-top: 25px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        flex-wrap: wrap;

        .prompt {
            display: flex;
            background: #222935;
            font-size: 1.4rem;
            padding: 5px 20px 5px 20px;
            border-radius: 5px;
            width: 100%;

            b {
                opacity: 0.3;
            }
            
            input {
                margin-left: 10px;
                font-size: 1.4rem;
                background: none;
                border: none;
                text-align: left;
                outline: none;
                width: 100%;
            }
        }

        button {
            font-family: 'Open Sans Condensed';
            font-size: 1.2rem;
            margin: 30px 10px;
        }

        .closeButton {
            background-color: $BASE_COLOR_INPUT_COLOR;
            border-color: $BASE_COLOR_INPUT_COLOR;
            margin-right: 0px;
        }
    }
}