@import "~/assets/styles/vars.scss";
@import "~/assets/styles/generic-component.scss";

.addressBookContainer {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    background-color: $TRANSACTION_LIST_BACKGROUND_COLOR;
    margin: 30px 60px;
    padding: 30px;

    .addressBookWrapper {
        width: 100%;
        height: 90%;
        display: flex;

        p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 20px;
        }

        .leftSide {
            width: 160px;
            text-align: center;

            img {
                width: 90px;
                opacity: 0.2;
            }

            p:nth-child(2) {
                color: $BASE_COLOR_LIGHT_GREEN;
                margin-top: 15px;
            }
        }

        .rightSide {
            flex: 1;
            padding: 0px 60px;
            
            input {
                height: 30px;
            }

            p {
                margin-bottom: 0px;
            }

            &>p:nth-child(1) {
                color: rgba(255, 255, 255, 0.3);
                margin-bottom: 35px;
                font-size: 18px;
                padding: 0px 5px;
            }

            .addressFilterContainer {
                display: flex;
                border-bottom: 1px solid $TRANSACTION_HEADER_TABLE_COLOR;
                margin-bottom: 25px;
                padding-left: 5px;
                padding-bottom: 10px;

                .addressFilter {
                    flex: 1;
                    text-align: right;
                }
            }

            .addressBook::-webkit-scrollbar {
                width: 5px;
            }
            .addressBook {
                height: calc(100% - 120px);
                overflow: auto;

                div {
                    cursor: pointer;
                    display: flex;
                    padding: 5px 8px;
                    font-size: 18px;
                    border-bottom: 1px solid $TRANSACTION_HEADER_TABLE_COLOR;

                    &>p:nth-child(2) {
                        word-break: break-all;
                        padding-left: 30px;
                        flex: 1;
                        text-align: right;
                    }
                }

                .active {
                    background-color: $RECEIVE_COIN_RECEIVE_ADDRESS_BG_COLOR;
                    opacity: 0.8;
                    color: $BASE_COLOR_GREEN;
                    font-weight: bold;
                }

                .enigmaAddress {
                    &>p:nth-child(2) {
                        color: $SEND_COIN_TEXT_COLOR;
                    }
                }
                
                // &>div:nth-child(1) {
                //     &>p:nth-child(2) {
                //         color: $SEND_COIN_TEXT_COLOR;
                //     }
                // }

                // &>div:nth-child(3) {
                //     color: $RECEIVE_COIN_TEXT_COLOR;
                //     background-color: $RECEIVE_COIN_RECEIVE_ADDRESS_BG_COLOR;
                //     opacity: 0.8;
                // }
            }
        }
    }

    .addressBookButtons {
        width: 100%;
        display: flex;
        padding: 0px 30px;

        button {
            cursor: pointer;
            min-width: 130px;
            height: 32px;
            border: none;
            border-radius: 3px;
            font-size: 16px;
        }

        &>button:nth-child(1), &>button:nth-child(2) {
            background-color: $RECEIVE_COIN_BUTTON_COLOR;
            color: rgba(0,0,0,0.8);
            margin-right: 20px;
        }

        &>button:nth-child(3), &>button:nth-child(4), &>button:nth-child(5) {
            background-color: $SEND_COIN_BUTTON_COLOR;
            color: white;
        }

        &>button:nth-child(3), &>button:nth-child(4), &>button:nth-child(5) {
            margin-right: 20px;
        }

        &>button:nth-child(6) {
            background-color: $SEND_COIN_TEXT_COLOR;
            color: white;
        }
    }
}