@import "~/assets/styles/vars.scss";
@import "~/assets/styles/generic-component.scss";

.sendCashContainer {
    padding: 30px 60px;
    height: calc(100% - 150px);

    .sendCashWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 35px 30px;
        padding-bottom: 70px;
        background-color: $TRANSACTION_LIST_BACKGROUND_COLOR;

        .form {
            display: flex;
            width: 100%;
        }

        p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 20px;
        }

        .leftSide {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 150px;

            .statusImg {
                width: 90px;
                opacity: 0.2;
            }

            p:nth-child(2) {
                color: $BASE_COLOR_RED;
                margin-top: 15px;
            }

            p:nth-child(3) {
                margin-top: 30px;
            }

            p:nth-child(4) {
                color: $BASE_COLOR_LIGHT_GREEN;
            }

            .send {
                background-color: $BASE_COLOR_RED;
                border-color: $BASE_COLOR_RED;
                color: white;
                font-size: 1.2rem;
            }

            div {
                margin-top: auto;
                margin-bottom: 8px;
            }
        }

        .rightSide {
            flex: 1;
            padding: 0px 60px;
            
            input {
                height: 30px;
            }

            p {
                margin-bottom: 8px;
            }

            .error {
                color: $BASE_COLOR_ERROR;
            }

            .receiverContainer {
                height: calc(100% - 65px);
                overflow: auto;
                padding-right: 5px;

                .sendAddress {
                    img {
                        position: absolute;
                        right: 50px;
                        bottom: -52px;
                        width: 35px;
                        height: 35px;
                        opacity: 0.6;
                    }
                    .sendCtrl {
                        text-align: right;
                        img {
                            cursor: pointer;
                            width: 35px;
                            opacity: 0.6;
                            margin-left: 68px;
                            position: inherit;
                            right: inherit;
                            bottom: inherit;
                        }
                        img.disabled {
                            cursor: default;
                            opacity: 0.3;
                        }
                        a.disabled {
                            cursor: default;
                            opacity: 0.5;
                            img {
                                cursor: default;
                            }
                        }
                    }
                }

                .addressLabel {
                    margin-top: -15px;
                }

                .sendAmount {
                    margin-top: 5px;

                    .amoutInputWrapper {
                        display: flex;

                        .amoutInput {
                            flex: 1;
                        }

                        .amountUnit {
                            display: flex;
                            flex: 1;

                            span {
                                margin-left: 20px;
                                margin-right: 3px;
                                margin-top: 8px;
                                font-size: 20px;
                            }

                            div {
                                position: relative;
                                width: 29px;
                                height: 29px;
                                cursor: pointer;
                                background-color: $SEND_COIN_RADIO_COLOR;
                                border-radius: 50%;
                                margin-top: 6px;
                            }

                            div.disabled {
                                cursor: default;
                                opacity: 0.5;
                            }

                            .active {
                                &::before {
                                    content: ' ';
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    top: 7px;
                                    left: 7px;
                                    border-radius: 50%;
                                    background-color: $SEND_COIN_RADIO_ACTIVE_COLOR;
                                }
                            }
                        }
                    }
                }
            }
            .sendOption {
                display: flex;
                margin-top: 25px;
                justify-content: flex-end;
                align-items: baseline;

                button {
                    background-color: $SEND_COIN_BUTTON_COLOR;
                    border-color: $SEND_COIN_BUTTON_COLOR;
                    margin-right: 25px;
                    color: white;
                    font-size: 1rem;
                }

                .addReception {
                    padding-left: 12px;
                    padding-right: 12px;
                }

                .clearReceptions {
                    padding-left: 30px;
                    padding-right: 30px;
                }

                span {
                    font-size: 20px;
                    margin-right: 10px;
                }

                .checkmark {
                    display: flex;
                    cursor: pointer;
                    width: 18px;
                    height: 18px;
                    border: 1px solid rgba(255,255,255,0.5);
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: 20px;
                    img {
                        width: 18px;
                        height: 12px;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }

                .checkmark.disabled {
                    cursor: default;
                    opacity: 0.5;
                }

                .cloakers {
                    margin-right: 5px;
                }

                .cloakersSelector:disabled {
                    opacity: 0.5;
                }
                
                .cloakersSelector.disabled::after {
                    opacity: 0.5;
                }

                .cloakersSelector::after {
                    top: 35% !important;
                }

                .timeout {
                    margin-left: 20px;
                    margin-right: 5px;
                }

                .timeoutSelector:disabled {
                    opacity: 0.5;
                }

                .timeoutSelector.disabled::after {
                    opacity: 0.5;
                }

                .timeoutSelector::after {
                    top: 35% !important;
                }
            }
        }
    }
}