@import "~/assets/styles/vars.scss";
@import "~/assets/styles/modal.scss";
@import "~/assets/styles/tabs.scss";

.statusModal {
  padding: 2rem;
  width: 40rem;
  height: 28rem;
}

.tabs {
  margin: 0 -2rem;
  height: 22.75rem;
}

.tab {
  margin: 0 1.7rem;

  .statusIcon {
    position: relative;
    top: 0.05rem;
    left: -0.3rem;
  }

  .green {
    color: $BASE_COLOR_LIGHT_GREEN;
  }

  .yellow {
    color: yellow;
  }

  .red {
    color: $BASE_COLOR_LIGHT_RED;
  }
}

.selectedTabPanel {
  display: block;
  padding: 1rem 2rem;
  overflow-y: scroll;
  height: 100%;

  :global(.react-lazylog) {
    outline: none;
    border: 1px solid $BASE_COLOR_BORDER_GRAY;
    background: $BASE_COLOR_DARK_BLUE_2;
    font-family: inherit;
    font-size: 0.7rem;

    a {
      color: $BASE_COLOR_FONT_GRAY;
    }

    span {
      color: $BASE_COLOR_WHITE;

    }

    div div:hover {
      background-color: $BASE_COLOR_PURPLE;
      color: $BASE_COLOR_DARK_BLUE_2;
    }
  }
}

.title {
  margin-bottom: 0.8rem;
}

.table {
  td:first-child {
    width: 11rem;
    color: $BASE_COLOR_FONT_GRAY;
    font-weight: 300;
  }

  tr {
    border-bottom: 1px solid $UNIFORM_LIST_SEPARATOR_COLOR;
  }
}

.refreshButton {
  border: 0;
  border-radius: 50%;
  position: fixed;
  width: 1.2rem;
  height: 1.2rem;
  background: $BASE_COLOR_PURPLE;
  box-shadow: 0.3125rem 0.3125rem 3.6875rem -0.125rem $BASE_COLOR_SHADOW;
  right: 3rem;
  outline: none;
  bottom: 2rem;
  content: '';
  color: $BASE_COLOR_WHITE;
  cursor: pointer;

  &:before {
    content: '\ea2e';
    position: absolute;
    top: 0.28rem;
    left: 0.28rem;
  }
}
