@import "~/assets/styles/vars.scss";

.settingsContainer {
    padding: 30px 60px;
    display: flex;
    height: calc(100vh - 350px);

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .leftSide {
        width: 280px;
        padding-top: 35px;
        background-color: $TRANSACTION_LIST_BACKGROUND_COLOR;

        .networkStatus {
            display: flex;
            align-items: center;
            margin-bottom: 80px;

            &::before {
                content: ' ';
                position: absolute;
                width: 40px;
                height: 15px;
                background-color: $BASE_COLOR_RED;
            }

            p {
                margin-left: 60px;
                font-size: 20px;
            }
        }

        .networkStatus .active {
            &::before {
                background-color: $BASE_COLOR_GREEN;
            }
        }

        .settingItems {
            .item {
                position: relative;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 10px 0px 10px 15px;

                img {
                    width: 30px;
                }

                p {
                    margin-left: 20px;
                    font-size: 20px;
                }
            }

            .borderTop {
                border-top : 1px solid rgba(255, 255, 255, 0.1);
            }

            .active {
                background-color: $SETTINGS_ITEM_ACTIVE_COLOR;
                
                &::after {
                    content: ' ';
                    position: absolute;
                    width: 5px;
                    height: 100%;
                    background-color: $SETTINGS_ITEM_ACTIVE_RIGHT_BAR_COLOR;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .rightSide {
        flex: 1;
        height: 100%;
        margin-left: 30px;
        padding: 30px 60px;
        background-color: $SETTINGS_CONTENT_BACKGROUND_COLOR;
    }
}