@import "~/assets/styles/vars.scss";

.select_box{
    position: relative;
    display: inline;
    overflow: hidden;
}

.select_box:after{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    position: absolute;
    top: 30%;
    right: 0px;
    content: "";
    z-index: 100;
    pointer-events: none;
}

.select_box select{
    width: auto;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
    color: $BASE_COLOR_LIGHT_GREEN;
    font-size: 1.3rem;
    outline: none;
    -webkit-appearance: none;
    padding-right: 15px;
}