@import "~/assets/styles/vars.scss";

.strength {
  text-transform: uppercase;
  color: $BASE_COLOR_FONT_GRAY_2;
  margin-bottom: 0.7rem;
  font-size: 0.7rem;
  line-height: 1.2rem;

  div {
    float: right;
    font-size: 1rem;
    text-transform: none;
  }

  .weak {
    color: $BASE_COLOR_ERROR;
  }

  .medium {
    color: $BASE_COLOR_WARNING;
  }

  .good {
    color: $BASE_COLOR_SUCCESS;
  }

  .excellent {
    color: $BASE_COLOR_SUCCESS;
    text-shadow: 0 0 0.4rem $BASE_COLOR_SUCCESS;
  }
}

.progressBar {
  background: $BASE_COLOR_DARK_BLUE_2;
  border-radius: 0.15rem;

  div {
    height: 0.3rem;
    background: $BALANCE_BACKGROUND_IMAGE;
    border-radius: 0.15rem;
  }
}
