@import "~/assets/styles/vars.scss";
@import "~/assets/styles/modal.scss";

$operationsModalWidth: 36.25rem;

.operationsModal {
  padding: 1.8rem;
  width: $operationsModalWidth;
}

.list {
  background: $BASE_COLOR_DARK_BLUE_3;
  height: calc(100% - 3.6rem);
  overflow-y: scroll;

  .status {
    border-radius: 0.5rem;
    padding: 2px 6px;

    &.queued {
      background-color: #009dd7;
    }

    &.executing {
      background-color: #009dd7;
    }

    &.cancelled {
      background-color: #f7a336;
    }

    &.failed {
      background-color: #e20063;
    }

    &.success {
      background-color: #00d492;
    }
  }
}
