.container {
  position: relative;
}

.address {
  max-width: 100%;
  position: absolute;
  white-space: nowrap;
  user-select: none;

  .widthMeasurer {
    visibility: hidden;
    overflow-y: hidden;
    height: 0;
  }
}
