@import "~/assets/styles/vars.scss";

.container {
  background-color: $BASE_COLOR_DARK_BLUE;
  width: 100%;
  height: 100px;
  user-select: none;

  .logo {
    width: 150px;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 25px;
  }
}

.item {
  font-weight: 300;
  align-items: center !important;
  float: left;
  text-align: center;
  opacity: 0.8;

  img {
    width: 40px;
    margin-top: 15px;
  }

  p {
    margin-top: 0px;
    color: white;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &.active {
    border-top: 5px solid $BASE_COLOR_PERSIMMON_COLOR;
  }

}

.overview {
  margin-right: 50px;
}

.ownAddresses {
  margin-right: 50px;
}

.sendCash {
  margin-right: 50px;
}

.receiveCash {
  margin-right: 30px;
}

.transactionCash {
  margin-right: 30px;
}

.addressBook {
  margin-right: 30px;
}

.enigmaStats {
  margin-right: 30px;
  a {
    cursor: not-allowed;
  }
}

.byob {
  margin-right: 50px;
  a {
    cursor: not-allowed;
  }
}

.settings {
  
}
