@import "~/assets/styles/vars.scss";

.button {
  color: $BASE_COLOR_PURPLE;
  font-size: 0.62rem;
  font-weight: 100;
  height: 100%;
  display: flex;
  align-items: center;

  cursor: pointer;
  user-select: none;
  outline: none;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  text-transform: uppercase;

  img {
    text-align: right;
    height: 25px;
    opacity: 0.5;
  }
}
