@import "~/assets/styles/vars.scss";

.dropdownButton, .createButton {
  cursor: pointer;
  border: none;
  outline: none;
}

.portfolioContainer {
  text-align: center;
}

.portfolio {
  color: $BASE_COLOR_WHITE;
  font-size: 0.63rem;
  text-transform: uppercase;
  user-select: none;
  cursor: default;

  .dropdownButton {
    background: transparent;
    font-size: 1rem;
    padding: 0;
    display: inline;
    width: 1rem;
    color: #8840ed;
    font-weight: 600;
    position: relative;

    &:before {
      position: absolute;
      content: '\e90e';
      top: -0.68rem;
      left: 0.1rem;
    }
  }
}

.menu {
  margin-top: 5.6rem;
}

.createButtonContainer {
  width: 0;
  position: relative;

  .createButton {
    margin-top: 0.5rem;
    position: absolute;
    padding: 0 !important;
    border-radius: 50%;
    background: $BASE_COLOR_PURPLE;
    color: $BASE_COLOR_WHITE;
    font-size: 1.5rem;
    font-weight: 100;
    top: -1.25rem;
    left: 0.15rem;

    &:before {
      content: '\e900';
    }
  }
}
