@import "~/assets/styles/vars.scss";

.currency {
  display: flex;

  .icon {
    padding: 0.25rem;
    margin: 0 0.25rem;
  }

  .name {
    font-size: 0.67rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.button {
  cursor: pointer;
  color: $BASE_COLOR_WHITE;
  position: relative;

  .arrowDownIcon {
    position: relative;
    outline: none;

    &:before {
      content: '\e90e';
      font-size: 0.9rem;
      font-weight: 600;
      position: absolute;
      left: -1rem;
      top: -0.4rem;
    }
  }

}

.menu {
  top: 1.1rem;
  left: 0.6rem;
  max-height: 16rem;
  overflow-y: scroll;
}

.menuItem {
  display: flex !important;
  width: 100%;
  height: 1.7rem;
  flex-wrap: nowrap;
  padding: 0;

  > * {
    overflow: visible;
  }

  .icon {
    padding: 0.3rem;
  }

  .name {
    text-transform: none;
    min-width: auto;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
  }
}
