@import "~/assets/styles/vars.scss";

.inputContainer {
  font-size: 0.65rem;
  color: $BASE_COLOR_FONT_GRAY;
  display: flex;
  padding-right: 0.45rem;
}

.input {
  width: 100%;
  font-size: 0.62rem;
  font-weight: 100;
  text-align: left;
}

.buttonWrapper {
  display: flex;
  position: relative;
  width: 2rem;

  .maxButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: $BASE_COLOR_PURPLE;
    background-color: transparent;
    border-radius: 5rem;
    border: 1px solid $BASE_COLOR_PURPLE;
    font-size: 0.5rem;
    padding: 0.1rem 0.5rem;
    white-space: nowrap;
    text-transform: uppercase;
    outline: none;
  }
}
