@import "./GenericControl.scss";

%discButton {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: transparent;
  color: $BASE_COLOR_FONT_GRAY;
  border: 1px solid $BASE_COLOR_BORDER_GRAY;
}

%discButton:hover {
  color: $BASE_COLOR_PURPLE;
  background-color: #3c396b;
  border: 1px solid $BASE_COLOR_PURPLE;
}

%discButton:before {
  position: relative;
}

.more {
  cursor: pointer;
  height: 100%;
  padding-top: 0.4rem;
  margin-left: 1rem;
  border: none;
  display: inline-block;

  .button {
    @extend %discButton;
  }

  .button:before {
    content: '. . .';
    font-size: 0.5rem;
    font-weight: 600;
    top: -0.06rem;
    left: 0.29rem;
  }

}
