@import "./GenericControl.scss";

.button {
  cursor: pointer;

  padding: 0.2rem 2rem;

  background-color: $BASE_BUTTON_BACKGROUND_COLOR;
  border: 1px solid $BASE_BUTTON_BACKGROUND_COLOR;
  color: $BASE_BUTTON_COLOR;

  border-radius: 0.1rem;
  user-select: none;
  outline: none;

  font-family: 'Abel';
  font-size: 1.4rem;
  font-weight: 300;

  position: relative;

  &.large {
    padding: 0.7rem 3rem;
  }

  .spinner {
    width: 1.2rem;
    position: absolute;
    left: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .glyph {
    top: 50%;
    transform: translateY(-50%);
    color: $BASE_BUTTON_COLOR;
    position: absolute;
    left: 0;

    &.add {
      &:before {
        position: absolute;
        left: 0.6rem;
        top: -0.42rem;
        font-size: 1.8rem;
        font-weight: 600;
        content: '\e900';
      }
    }
  }
}

