@import "~/assets/styles/vars.scss";

.dropdownButton {
  width: 0.8rem;
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;

  &:before {
    position: absolute;
    border-left: 1px solid $BASE_COLOR_BORDER_PURPLE;
    display: block;
    height: calc(100% + 0.1rem);
    width: 0;
    top: -0.05rem;
    right: 1.6rem;
    content: '';
  }
}

.icon {
  &:before {
    content: '\e90e';
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    right: 0.4rem;
    top: 0.5rem;
  }
}
