@import "~/assets/styles/vars.scss";

.container {
  height: auto;
  border-radius: 1.1rem;
  padding: 0.6rem;
}

.textarea {
  font-size: 0.75rem;
  color: $BASE_COLOR_WHITE;
  background-color: transparent;
  border: 0;
  padding-left: 0.65rem;
  padding-right: 0.7rem;
  outline: 0;

  &::placeholder {
    color: $BASE_COLOR_FONT_GRAY_2;
    font-size: 0.66rem;
    font-family: $BASE_FONT_FAMILY;
    font-weight: 300;
  }
}
