@import "~/assets/styles/vars.scss";

.wrapper {
  display: flex;

  .label {
    color: $BASE_COLOR_GRAY;
    text-transform: uppercase;
    font-size: 0.7rem;
    user-select: none;
    align-self: center;
  }

  margin-bottom: 0.75rem;
}

.container {
  display: inline-block;

  width: 2.8rem;
  height: 1.4rem;
  margin: 0 0.6rem;
  padding: 0.2rem;

  cursor: pointer;
  outline: none;

  background-color: $BASE_COLOR_DARK_BLUE_2;
  border-radius: 5rem;

  &.withCaptions {
    width: 3.8rem;

    &.on .switcher {
      margin-left: 2.3rem;
    }
  }

  .switcher {
    margin-left: 0.1rem;
    margin-top: 0.025rem;

    height: 1.3rem;
    width: 1.3rem;

    border-radius: 50%;
    background-color: $BASE_COLOR_PURPLE;
  }

  .caption {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: $BASE_COLOR_GRAY;
    text-transform: uppercase;
  }

  &.on {
    .switcher {
      margin-left: 1.3rem;
    }

    .caption {
      left: 0.5rem;
      right: unset;
      color: $BASE_COLOR_PURPLE;
    }
  }

  &.disabled {
    pointer-events: none;

    .switcher, .caption {
      opacity: 0.6;
      cursor: default;
    }
  }
}
