@import "./vars.scss";

// ------------------------------------------------------------------------------------------------------
// Generic rounded button
// ------------------------------------------------------------------------------------------------------
@mixin roundedButton($activeStyle: false) {
  padding: 0.7rem 1.2rem;

  @if $activeStyle {
    background-color: $BASE_COLOR_PURPLE;
    border: 1px solid $BASE_COLOR_PURPLE;
    color: $BASE_COLOR_WHITE;
  } @else {
    background-color: transparent;
    border: 1px solid $BASE_COLOR_BORDER_GRAY;
    color: $BASE_COLOR_BUTTON_FONT_GRAY;
  }

  border-radius: 5rem;

  font-size: 0.62rem;
  font-weight: 300;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  position: relative;

  img {
    width: 1.2rem;
    position: absolute;
    left: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
  }
}


// ------------------------------------------------------------------------------------------------------
// Generic rounded input
// ------------------------------------------------------------------------------------------------------
@mixin roundedInput() {

}
