@import "~/assets/styles/generic-component.scss";
@import "~/assets/styles/vars.scss";

@mixin modalToolbarButton {
  -webkit-app-region: no-drag;

  width: 0.8rem;
  height: 0.8rem;

  margin-right: 1rem;
  border-radius: 20rem;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.modalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 990
}

.modalDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0.6rem 0.6rem;
  border-radius: 0.3rem;
  border: 1px solid $BASE_COLOR_BORDER_BLUE;
  background: $BASE_COLOR_DARK_BLUE;
  outline: 0;
  z-index: 991;

  &:focus {
    outline: none;
  }
}

.modalTitle {
  font-size: 0.7rem;
  min-height: 1.5rem;

  .closeButton {
    @include modalToolbarButton();
    background-color: $TITLE_BAR_BUTTONS_CLOSE_COLOR;
    float: left;
  }

  .titleText {
    overflow: hidden;
    text-align: center;
    text-shadow: 1px 1px 3px #808080;
  }
}

.modalBody {
  height: 100%;
  font-size: 0.9rem;
  z-index: 10000000 !important;
}

.modalFooter {
  height: 2.2rem;
  padding: 6px 12px;
  position: absolute;
  right: 0;
  bottom: 0;

  .closeButton {
    @include roundedButton(true);
  }
}
