@import "~/assets/styles/vars.scss";

.green {
  color: $BASE_COLOR_LIGHT_GREEN;
  background-color: $BASE_COLOR_LIGHT_GREEN;
}

.yellow {
  color: yellow;
  background-color: yellow;
}

.red {
  color: $BASE_COLOR_LIGHT_RED;
  background-color: $BASE_COLOR_LIGHT_RED;
}
