@import "./vars.scss";

.tabs {
  height: 100%;
}

.tabList {
  color: $BASE_COLOR_FONT_GRAY;
  margin: 0;
  padding: 0;
  user-select: none;
  font-weight: 200;
  font-size: 0.75rem;
  text-align: left;
  border-bottom: 1px solid $BASE_COLOR_BORDER_BLUE;
}

.tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  white-space: nowrap;
  outline: none;

  padding: 0.8rem 0.3rem;
  margin: 0 1.2rem;
  text-align: left;
}

.selectedTab {
  z-index: 3;
  background: transparent;
  color: $BASE_COLOR_WHITE;
  border-bottom: 1px solid $BASE_COLOR_LIGHT_BLUE;
}

.tabPanel {
  display: none;
  z-index: 2;
  height: 100%;
}

.selectedTabPanel {
  display: block;
  border-radius: 6px;
  background-color: transparent;
  height: 100%;
  padding: 0;
  margin: 0;
}
