// Vertical Box Layout
.vBoxContainer {
    // Use FlexBox layout
    display: flex;

    flex-direction: column;

    // Align all items in different mode:
    // "stretch"    -- All items got equal width which is default
    // "flex-start" -- All items align from top (and got actually width of the content)
    // "center"     -- All items align from top (and got actually width of the content)
    // "flex-end"   -- All items align from top (and got actually width of the content)
    align-items: stretch;

    // This flag control how the items align in `another direction`, same values with `align-items`
    justify-content: start;
}

.vBoxChild {
    // In FlexBox layout, `flex` controls how much percent the element will use, `1` is hte baseline, it will
    // take all the space (like `width: 100%` in 'row' mode, or `height: 100%` in 'column' mode).
    // It equals to :
    // flex-grow: 1;
    // flex-shrink: 1;
    // flex-basis: auto;
    flex: 1;
}
