@font-face {
  font-family: 'Abel';
  src: local('Abel Regular'), local('Abel-Regular'),
      url(assets/fonts/Abel-Regular.woff2) format('woff2'),
      url(assets/fonts/Abel-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abel';
  src: local('Abel Regular'), local('Abel-Regular'),
      url(assets/fonts/Abel-Regular.woff2) format('woff2'),
      url(assets/fonts/Abel-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
