@font-face {
  font-family: 'Open Sans Condensed';
  src: local('Open Sans Condensed Light Italic'), local('OpenSansCondensed-LightItalic'),
      url(assets/fonts/OpenSansCondensed-LightItalic.woff2) format('woff2'),
      url(assets/fonts/OpenSansCondensed-LightItalic.woff) format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
      url(assets/fonts/OpenSansCondensed-Bold.woff2) format('woff2'),
      url(assets/fonts/OpenSansCondensed-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
      url(assets/fonts/OpenSansCondensed-Light.woff2) format('woff2'),
      url(assets/fonts/OpenSansCondensed-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
