@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?jyqolf');
  src:  url('assets/fonts/icomoon.eot?jyqolf#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?jyqolf') format('truetype'),
    url('assets/fonts/icomoon.woff?jyqolf') format('woff'),
    url('assets/fonts/icomoon.svg?jyqolf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e90e";
  font-size: 1.2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
}
.icon-status-stop:before {
  content: "\e90c";
}
.icon-status-running:before {
  content: "\e90d";
}
.icon-own-address:before {
  content: "\e90b";
  font-size: 1rem;
  margin-right: 0.3rem;
}
.icon-add:before {
  content: "\e900";
}
.icon-arrow-right-bigger:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-private-lock:before {
  content: "\e903";
  font-size: 1.5rem;
}
.icon-private-unlock:before {
  content: "\e904";
  font-size: 1.5rem;
  color: rgb(67, 75, 109);
}
.icon-paste:before {
  content: "\e905";
  font-size: 1.2rem;
  position: absolute;
  top: -0.15rem;
}
.icon-close:before {
  content: "\e906";
}
.icon-folder-open:before {
  content: "\e930";
  font-size: 1.2rem;
  position: absolute;
  top: -0.15rem;
}
