@import "~/assets/styles/vars.scss";

.changePassphraseContainer {
    padding: 0px 50px;

    .changePassphrasePage {
        text-align: center;

        img {
            width: 90px;
            opacity: 0.3;
            margin-bottom: 10px;
        }  

        input {
            height: 25px;
        }

        .description {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .passphraseInput {
            .passphrase {
                margin-bottom: 10px;
            }

            button {
                width: 200px;
                height: 40px;
                background-color: $RECEIVE_COIN_BUTTON_COLOR;
                border: none;
                border-radius: 3px;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.8);
                margin-top: 10px;
            }
        }
    }
}