@import "~/assets/styles/vars.scss";
@import "~/assets/styles/modal.scss";

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 640px;
    background-color: $BASE_COLOR_DARK_BLUE;
    font-family: 'Open Sans Condensed';
    font-size: 1.4rem;

    input {
        font-family: 'Open Sans Condensed';
        color: white;
        background: #373e49;
        text-align: center;
        border-radius: 3px;
    }

    div {
        font-family: 'Open Sans Condensed';
    }

    span {
        font-size: 1.2rem;
    }

    .debugTabs {
        width: 100%;
        display: flex;
        justify-content: center;
        
        .tab {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0px 20px;
            user-select: none;
        }

        .active {
            &::after {
                content: ' ';
                position: absolute;
                width: 50px;
                height: 5px;
                background-color: $BASE_COLOR_RED;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .tabContent {
        height: 450px;
    }
}