.statusContainer {
    .item {
        display: flex;
        padding: 3px 0px;

        p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 18px;
        }

        p:nth-child(2) {
            flex: 1;
            text-align: right;
        }
    }

    .borderBottom {
        border-bottom: 1px solid #446031;
    }
}