@import "~/assets/styles/vars.scss";
@import "~/assets/styles/generic-component.scss";

.enigmaStatsContainer {
    padding: 30px 60px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;    
    height: calc(100% - 15px);

    .enigmaStatsWrapper {
        width: auto;
        display: flex;
        padding: 20px 20px;
        padding-right: 30px;
        background-color: $TRANSACTION_LIST_BACKGROUND_COLOR;

        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .leftSide {
            width: 180px;
            text-align: center;
            padding-right: 20px;

            .statusImg {
                width: 85px;
                opacity: 0.2;
            }

            p:nth-child(2) {
                font-size: 1.4rem;
                margin-top: 12px;
            }

            p:nth-child(3) {
                font-size: 1.2rem;
                margin-top: 12px;
                opacity: 0.3;
            }
        }

        .rightSide {
            flex: 1;
            padding: 12px 30px;
            background-color: $ENIGMA_STATS_INFO_BACKGROUND_COLOR;

            .enigmaInfo {
                div {
                    display: flex;
                    padding: 3px 0px;
                    &>p:nth-child(2) {
                        flex: 1;
                        text-align: right;
                    }
                }

                .borderLine {
                    border-bottom: 1px solid $ENIGMA_STATS_INFO_BOUND_COLOR;
                }
            }
        }
    }

    .enigmaActivityListWrapper {
        width: 100%;
        height: calc(100% - 285px);
        text-align: center;
        margin-top: 25px;
        background-color: $TRANSACTION_LIST_BACKGROUND_COLOR;

        >p {
            opacity: 0.6;
        }
    }
}