@import "~/assets/styles/vars.scss";
@import "~/assets/styles/tabs.scss";

$innerContainerWidth: 23.75rem;

.getStartedContainer {
  justify-content: start;
  position: relative;
}

.innerContainer {
  position: relative;
  margin: 0 auto;
  min-width: $innerContainerWidth;
}

.historyLink {
  position: fixed;
  width: 2.8rem;
  height: 2.8rem;
  top: 50%;
  font-family: 'icomoon' !important;
  font-weight: 200;
  background: $BASE_COLOR_PURPLE;
  border-radius: 50%;
  color: $BASE_COLOR_WHITE;
  font-size: 1.2rem;
  text-decoration: none;
}

.historyLink:before {
  position: relative;
  content: "\e901";
  left: 1.25rem;
  top: 0.9rem;
}

.prevLink {
  @extend .historyLink;
  left: 2rem;
  transform: scale(-1, 1);
}

.nextLink {
  @extend .historyLink;
  right: 2rem;
}

.title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.hint {
  color: $BASE_COLOR_PURPLE;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.65rem;
  margin-bottom: 2rem;
  position: relative;
  padding: 0 5rem;

  &.info {
    color: $BASE_COLOR_INFO;
  }

  &.success {
    color: $BASE_COLOR_SUCCESS;
  }

  &.success:before {
    font-family: 'icomoon' !important;
    font-size: 0.8rem;
    content: "\e90d";
    color: $BASE_COLOR_SUCCESS;
    position: relative;
    top: 2px;
    left: -0.6rem;
  }

  &.error {
    color: $BASE_COLOR_ERROR;
  }
}

.note {
  max-width: $innerContainerWidth;
  display: inline-block;
  color: $BASE_COLOR_FONT_GRAY;
  font-size: 0.65rem;

  strong {
    color: $BASE_COLOR_WHITE;
    font-weight: 300;
  }

  margin-bottom: 3rem;
}

.paginationDots {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.1rem;

  div {
    float: left;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.35rem;
  }

  div.complete {
    background: $BASE_COLOR_PURPLE;
  }

  div.empty {
    background: $BASE_COLOR_DARK_BLUE_2;
  }
}

.flowLinksContainer {
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: nowrap;
}

.chooseFlowLink:first-child {
  margin-right: 2rem;
}

.chooseFlowLink {
  width: 14.7rem;
  height: 12.7rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  text-align: center;
  color: $BASE_COLOR_WHITE;
  text-decoration: none;
  border: 1px solid $BASE_COLOR_BORDER_GRAY;

  i {
    font-family: 'icomoon' !important;
    -webkit-font-smoothing: antialiased;
    color: #009dd7;
    font-size: 4rem;
    font-style: normal;
    font-weight: 100;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: block;
  }

  .createNewWalletIcon:before {
    content: "\e910";
  }

  .restoreYourWalletIcon:before {
    content: "\e90f";
  }

}

.chooseFlowLink:hover {
  background: #009dd7;
  border: 1px solid #009dd7;

  i {
    color: $BASE_COLOR_WHITE;
  }
}
