@import "./GetStarted.scss";

.splash_container {
  text-align: center;

  &::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/about/splash_bottom_bg.png');
    background-size: cover;
    right: 0;
    bottom: 0;
  }

  .logo_img {
    width: 250px;
    margin-top: 10px;
  }

  .enigma_brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    img {
      width: 200px;
      margin-left: 25px;
    }
  }

  .cloak_core {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bolder;
  }

  .enigma_version {
    max-width: 320px;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .copy_right {
    max-width: 320px;
    font-size: 20px;
    margin: 0px auto;
  }

  .loading_block {
    margin-top: 50px;
    font-size: 20px;
    color: $BASE_COLOR_PERSIMMON_COLOR;
    font-weight: bold;
  }
}

.about_container {
  padding: 0px 60px;
  text-align: center;

  &::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/about/about_top_bg.png');
    background-size: cover;
    top: -50px;
    left: 0;
  }

  .logo_img {
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
  }

  p {
    text-align: left;
  }
  
  .cloak_coin {
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .revolution_stormfix {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .copy_right {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .description {
    margin-top: 40px;
    margin-bottom: 60px;

    .about_description {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  .button {
    width: 120px;
    background-color: $BASE_COLOR_LIGHT_GREEN;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}