@import "../../assets/styles/vars.scss";

$POP_UP_MENU_CONTAINER_WIDTH: 14.5rem;

.AddAddressPopupMenuContainer {
    padding: 0.3rem 1.3rem;
    min-width: $POP_UP_MENU_CONTAINER_WIDTH;
    width: $POP_UP_MENU_CONTAINER_WIDTH;

    position: absolute;
    right: 0;
    top: 0.5rem;

    background-color: $OWN_ADDRESSES_DROPDOWN_MENU_BACKGROUND_COLOR;

    text-align: left;
    border-radius: 0.35rem;
}

.menuItem {
    padding: 1.2rem 0.5rem;;
    border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;

    color: $BASE_COLOR_BUTTON_FONT_GRAY;
    font-size: 0.7rem;

    &:hover {
        color: $BASE_COLOR_PURPLE;
    }
}

.lastMenuItem {
    border-bottom: none;
}
