@import "~/assets/styles/vars.scss";

.lockWalletContainer {

    .lockPage {
        text-align: center;

        .statusImg {
            width: 85px;
            opacity: 0.3;
            margin-bottom: 40px;
        }

        p:nth-child(2) {
            font-size: 1.4rem;
            color: $BASE_COLOR_RED;
            margin-bottom: 30px;
        }

        button {
            margin-top: 60px;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
        }
    }

    .unlockPage {
        text-align: center;

        .statusImg {
            width: 85px;
            opacity: 0.3;
            margin-bottom: 20px;
        }

        .description {
            width: 325px;
            margin: 0 auto;
            font-size: 1.28rem;
            line-height: 1.4;

            p:nth-child(1) {
                color: $BASE_BUTTON_BACKGROUND_COLOR;
                font-size: 1.4rem;
            }
        }

        .passphraseInput {
            .passphrase {
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .checkboxInput {
                display: flex;
                align-items: center;
                padding: 0px 5px;
                
                .checkmark {
                    display: flex;
                    cursor: pointer;
                    width: 18px;
                    height: 18px;
                    border: 1px solid rgba(255,255,255,0.5);
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: 20px;
                    img {
                        width: 18px;
                        height: 12px;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }

                .checkmark.disabled {
                    cursor: default;
                    opacity: 0.5;
                }
            }
            
            button {
                background-color: $BASE_COLOR_RED;
                border-color: $BASE_COLOR_RED;
                font-size: 1.4rem;
                color: $BASE_COLOR_WHITE;
                margin-top: 35px;
                padding-left: 1.8rem;
                padding-right: 1.8rem;
            }
        }
    }
}