@import "~/assets/styles/vars.scss";

.overviewContainer {
  padding: 30px 60px;

  .transactionChart {
    height: calc(100vh - 450px);
    display: flex;
    margin-top: 20px;

    .transactionsContainer {
      width: calc(50% - 10px);
      margin-right: 10px;
      background-color: $TRANSACTION_LIST_BACKGROUND_COLOR;
      padding: 15px 15px;
      overflow: hidden;

      .transactionTitle {
        display: flex;
        font-size: 20px;
        
        div {
          flex: 1;
        }

        a {
          text-decoration: none;
        }

        .viewAll {
          cursor: pointer;
          text-align: right;
          color: white;
          opacity: 0.5;
        }
      }
    }
  }
}


