@import "~/assets/styles/vars.scss";
@import "~/assets/styles/section.scss";
@import "~/assets/styles/generic-component.scss";

.dropdownMenu {
  position: relative;
  white-space: nowrap;
  z-index: 1000;
}

.merging {
  position: absolute;
  width: 82%;
  top: 0;
  pointer-events: none;
  cursor: default;
  margin-bottom: 4px;
  text-align: right;

  span {
    border-radius: 0.5rem;
    border: 1px solid $BASE_COLOR_BORDER_GRAY;
    padding: 2px 6px;
    color: $BASE_COLOR_BORDER_GRAY;
  }

  background: linear-gradient(to left, rgba(29, 36, 64, 1) 10%, rgba(29, 36, 64, 0.3) 90%);
}

.mergingContainer {
}

.mergingContainer:hover {
  div {
    color: inherit;
  }
}
