@import "~/assets/styles/vars.scss";
@import "~/assets/styles/generic-component.scss";

.transactionCashContainer {
    padding: 30px 60px;
    height: calc(100% - 45px);

    .txListWrapper {
        width: 100%;
        height: 100%;
        background-color: $TRANSACTION_LIST_BACKGROUND_COLOR;
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        
        .txFilterContainer {
            width: 100%;
            display: flex;
            align-items: baseline;

            input {
                font-size: 1.2rem;
            }

            .dateField {
                width: 15%;
            }

            .categoryField {
                width: 27%;
            }

            .addressField {
                width: 41%;
            }

            .amountField {
                width: 17%;
                padding-left: 15px;
            }
        }
    }
}